li {
	list-style-type: none;
}
a {
	text-decoration: none;
}

body {
	overflow-x: hidden;
}

input[type] {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.container {
	max-width: 1170px;
}

$gray-color: #d3d3d3;
$black-color: #3a4044;
$orange-color: #ffa500;


@mixin bg {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+31,eaeaea+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #ffffff 31%, #eaeaea 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #ffffff 31%,#eaeaea 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #ffffff 31%,#eaeaea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.hidden {
	display: none;
}

.error {
	border: 1px solid red !important;
}


.welcome-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #f1f1f1;
	z-index: 100;
	transition: 1.5s;
	&.animated {
		width: 0;
		opacity: 0;
	}
}

@keyframes floating {
    0% {
        opacity: 0;
        transform: scale(0.3)
    }
    50% {
        opacity: 0.4
    }
    100% {
        opacity: 0;
        transform: scale(1)
    }
}




body {
	font-family: 'Roboto-Regular';
	color: $black-color;
}

.section-heading {
	position: relative;

}
.section-title {
	font-size: 1.5rem;
	font-family: 'Roboto-Medium';
	text-transform: uppercase;
	color: $black-color;
	letter-spacing: 1px;
	padding: 5px 50px;
	background: #162640;
	color: #fff;
	max-width: 300px;
}

.section-heading__elem {
	position: absolute;
	bottom: 20px;
	.icon {
		font-size: 3.5rem;
		color: $gray-color;
		opacity: .7;
	}
}

.header {
	.fab {
		color: $gray-color;
		font-size: 1.7rem;
		transition: .3s;
		&:hover {
			color: $orange-color;
		}
	}
	.fa-phone-volume {
		color: $orange-color;
		font-size: 1.7rem;
	}
	&__social, &__tel {
		transition: .3s;
		transform: translateY(-400%);
		transition-delay: 1s;
		&.animated {
			transform: translateY(0);
		}
	}
	&__nav  {
		opacity: 0;
		transition: 2s;
		transition-delay: 2s;
		&.animated {
			opacity: 1;
		}

	}
}

.hero {
	padding: 60px 0 200px;
	position: relative;
	&__bg-holder {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&__inner {
		position: relative;
		z-index: 1;
	}
	&__info {
		margin-top: 50px;
		text-align: center;
		position: relative;
		// transform: scale(0.8);
		// opacity: 0.5;
		// transition: .3s;
		// &.animated {
		// 	transform: scale(0.8);
		// 	opacity: 0.5;
		// }
	}
	&__triangle {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 50px;
		
	}
	&__elem {
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translate(-50%, 300%);
		transition: .3s;
		opacity: 0;
		transition-delay: 3s;
		&.animated {
			transform: translate(-50%, 0);
			opacity: 1;
		}
		.arrow-down {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background: #ffffff;
			border: 1px solid $gray-color;
			position: relative;
			cursor: pointer;
			.fa-arrow-alt-circle-up {
				color: $black-color;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%) rotate(180deg);
				font-size: 1.5rem;
			}
			// &:before {
			// 	content: '';
			// 	width: 40px;
			// 	height: 1px;
			// 	background: lightgray;
			// 	transform: rotate(90deg);
			// 	top: -20px;
			// 	position: absolute;
			// 	margin-left: 3px;

			// }
			// &:after{
			// 	content: '';
			// 	width: 40px;
			// 	height: 1px;
			// 	background: lightgray;
			// 	transform: rotate(90deg);
			// 	bottom: -20px;
			// 	position: absolute;
			// 	margin-left: 3px;

			// }
		}
	}
}
.triangle {
	&-svg {
		width: 100%;
		height: 100%;
		fill: #ffffff;
	}
	&-polygon {
		width: 100%;
		height: 100%;
		fill: #ffffff;
	}
}
#particles-js {
	width: 100%;
	height: 100%;
    background-color: #0d1d38;
    background-image: url('../img/hero_bg1.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.header {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	&__nav {
		margin-left: auto;
		.nav {
			display: flex;
			flex-flow: row wrap;
			align-items: center;
		}
	}

}

.social {
	&__list {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		
	}
	&__item {
		margin-right: 30px;
	}
	&__link {
		display: inline-block;
	}
}

.nav {
	overflow: hidden;
	&__list {
		display: flex;
		flex-flow: row wrap;
		// display: none;
		transform: translateX(150%);
		transition: .5s;
		&.active {
			transform: translateX(0);
		}
		
	}
	&__item {
		margin-left: 30px;
		position: relative;
		&:first-child {
			margin-left: 0;
			
		}
		&:after {
			content: '';
			position: absolute;
			width: 0;
			height: 2px;
			bottom: -4px;
			left: 0;
			background: $orange-color;
			transition: .3s;

		}
	}
	&__link {
		color: #ffffff;
		font-size: 1.125rem;
		transition: .3s;
		&:hover {

		}
		
	}
}

.nav__burger {
	z-index: 50;
}

.nav__burger.active .nav__burger-icon {
    background: transparent;
}

.nav__burger.active .nav__burger-icon:before {
    content: '';
    -ms-transform: rotate(45deg);
    transform: rotateZ(45deg);
    top: 0;
    width: 100%;
}

.nav__burger.active .nav__burger-icon:after {
    content: '';
    -ms-transform: rotate(-45deg);
    transform: rotateZ(-45deg);
    top: 0;
    width: 100%;
}
.nav__item:hover:after {
	width: 100%;
}
.personal-info {
	&__title {
		color: #ffffff;
		 font-family: 'Roboto-Medium';
		 font-size: 1.5rem;
		 letter-spacing:1px;
		 margin-bottom: 10px;
	}
	&__subtitle {
		color: $orange-color;
		font-family: 'Roboto-Medium';
		font-size: 1.125rem;
		letter-spacing: 1px;
	}
	&__avatar {
		border-radius: 50%;
		height: 6.8rem;
		width: 6.8rem;
		border: 2px solid $gray-color;
		margin: 0 auto 20px;
		overflow: hidden;
	}

}

.nav__burger {
    cursor: pointer;
    height: 30px;
    width: 35px;
    position: relative;
    margin-left: 50px;
}

.nav__burger-icon {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    height: 3px;
    background: $gray-color;
    &:before {
    	content: '';
    	position: absolute;
    	width: 100%;
    	height: 3px;
    	background: $gray-color;
    	right: 0;
    	transition: .3s;
    	top: -7px;
    }
    &:after {
    	content: '';
    	position: absolute;
    	width: 100%;
    	height: 3px;
    	background: $gray-color;
    	right: 0;
    	transition: .3s;
    	bottom: -7px;
    }
}
.about {
	padding-top: 60px;
	position: relative;
	&__inner {
		display: flex;
		flex-flow: row wrap;
		padding-bottom: 60px;
	}
	&__left, &__right {
		width: 50%;
	}
	&__info-pic {
		position: relative;
		padding: 20px 30px;
	}
	&__info-elem {
		content: '';
		position: absolute;
		width: 50%;
		top: 0;
		left: 0;
		height: 90%;
		// z-index: -1;
		// background: #f1f1f1;
		// border: 7px solid #f1f1f1;
		font-size: 12rem;
		opacity: .2;
		// animation: floating infinite ease-in-out 5s;
	}
	&__info-pic {
		max-height: 700px;
	}
	&__info-descr {
		line-height: 1.5rem;
		&-text {
			margin-bottom: 30px;
		}
		&-list {
			margin-top: 15px;
		}
		&-item {
			margin: 10px 0;
			position: relative;
			padding-left: 30px;
			&:before {
				content: '';
				position: absolute;
				width: 8px;
				height: 8px;
				top: 50%;
				left: 0;
				margin-top: -4px;
				border-radius: 50%;
				background: $orange-color;
			}
		}
	}
	&__info-subtitle {
		font-size: 1.125rem;
		margin-bottom: 30px;
	}
	&__triangle {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 50px;
	}
}
.skills {
	@include bg;
	padding: 60px 0 100px 0;
	&__inner {
		display: flex;
		flex-flow: row wrap;
	}
	&__section {
		width: 50%;
		padding-left: 20px;
		padding-right: 20px
	}
	&__section-title {
		font-size: 1.25rem;
		text-transform: uppercase;
		margin-bottom: 30px;
		letter-spacing: 1px;
	}
	&__row {
		margin-bottom: 20px;
	}
	&__title {
		margin-bottom: 7px;
		font-family: 'Roboto-Medium';
	}
}

.progress-bar {
	height: 20px;
	background: #f3f3f3;
	position: relative;
	&__inner {
		position: absolute;
		height: 100%;
		background: $orange-color;
		top: 0;
		left: 0;
		bottom: 0;
		width: 0;
		transition: 3s;
		.progress-bar__percentage {
			font-size: .875rem;
			color: #ffffff;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 10px;
		}
	}
}

.works {
	padding: 60px 0;
	position: relative;
	&__inner {
		margin-top: 60px;
		display: flex;
		flex-flow: row wrap;
	}
	&__info {
		position: relative;
	}
	&__info, &__content {
		width: 50%;
	}
	&__info-item {
		// align-self: center;
		// justify-content: center;
		// display: flex;
		// flex-direction: column;
		text-align: center;
		display: none;
		transition: .3s;
		overflow: hidden;
		&.active {
			height: auto;
			display: block;
		}
	}
	&__info-list {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
		height: 100%;

	}
	&__info-title {
		margin-bottom: 15px;
		letter-spacing: 1px;
		font-size: 1.125rem;
		font-family: 'Roboto-Medium';
	}
	&__info-about {
		color: $orange-color;
		margin-bottom: 10px;
		text-transform: uppercase;
		font-family: 'Roboto-Medium';
		font-size: 1.125rem;
	}
	&__info-link {
		padding: 10px 20px;
		color: #ffffff;
		background: $orange-color;
		border-radius: 5px;
		transition: .3s;
		transform: scale(1);
		display: inline-block;
		margin: 0 auto;
		&:hover {
			transform: scale(.9);
		}
	}
	&__img {
		background: #f1f1f1;
		&-list {
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: center;
			height: 100%;
			padding: 50px 0;
		}

	}
	&__img-item {
		transform: scale(0.8);
		transition: .6s;
		width: 80%;
		position: absolute;
		overflow: hidden;
		opacity: 0;
		
		&.active {
			transform: scale(1);
			opacity: 1;
			transition: .3s;
			position: relative;
			background-size: contain;
			&:before {
				content: '';
				display: block;
				width: 100%;
				padding-top: 60%;
			}
			
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			margin: auto;
			object-fit: contain;
		}
		
	}
	&__controllers {
		display: flex;
		flex-flow: row wrap;
		&-info {
			width: 50%;
			height: 160px;
			position: relative;
		}
		&-list {
			overflow: hidden;
			height: 100%;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: rgba(0, 0, 0, 0.3);
				color: rgba(0, 0, 0, 0.3);
			}
		}
		&-btn {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 40px;
			height: 40px;
			.icon {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 2.2rem;
				color: #ffffff;
			}
		}
		&-item {
			width: 70%;
			height: 80%;
		}
	}
	&__elem-wrapper {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}
	&__elem {
		position: absolute;
		opacity: 0;
		animation: floating 10s infinite;
		.icon {
			font-size: 2rem;
		}

		&:first-child {
			top: 10%;
			left: 15%;
		}
		&:nth-child(2) {
			top: 25%;
			left: 50%
		}
		&:nth-child(3) {
			bottom: 12%;
			left: 35%;
			animation-delay: 3s;
		}
		&:nth-child(4) {
			right: 7%;
			top: 35%;
			animation-delay: 3s;
		}
		&:nth-child(5) {
			left: 7%;
			top: 50%;
			
		}
		&:last-child {
			right: 10%;
			bottom: 5%;
			animation-delay: 3s;
		}
	}
}
.works__controllers-list_next .works__controllers-item {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	z-index: -1;
	&.active {
		top: 50%;
		transform: translate(-50%, -50%);
		transition: .3s;
		&:before {
			content: '';
			display: block;
			width: 100%;
			padding-top: 60%;
		}
		
	}
}

.works__controllers-item.active {
	img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		margin: auto;
		object-fit: cover;
	}
}

.btn-disabled {
	z-index: -1; 
}

.works__controllers-list_prev .works__controllers-item {
	position: absolute;
	top: -100%;
	left: 50%;
	transform: translateX(-50%);
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	z-index: -1;
	&.active {
		top: 50%;
		transform: translate(-50%, -50%);
		background-size: cover;
		transition: .3s;
		&:before {
			content: '';
			display: block;
			width: 100%;
			padding-top: 60%;
		}
		
	}
}

.works__controllers-btn.btn-prev > .icon {
	transform: translate(-50%,-50%) rotate(-180deg);
}

.contacts__triangle {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 50px;
	transform: rotate(-180deg)
}

.contacts {
	padding: 100px 0 60px;
	background: url('../img/contacts-bg.jpg') 50% 50% no-repeat;
	background-size: cover;
	position: relative;
	&__inner {
		display: flex;
		flex-flow: row wrap;
		margin: 60px auto 0;
		max-width: 900px;
	}
	&__left, &__right {
		width: 50%;
	}
	&__item{
		border-bottom: 1px solid $gray-color;
		padding: 20px 0;
		box-shadow: 0 1px 0 0 #FFFFFF;

	}
	&__link {
		color: $black-color;
		font-family: 'Roboto-Medium';
		font-size: 1.2rem;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		transition: .3s;
		.icon {
			color: $orange-color;
			font-size: 2rem;
		}
		&:hover {
			color: $orange-color;

		}

	}
	&__descr {
		margin-left: 50px;
	}
	
}


.contact {
	&-form {
		margin-left: auto;
		max-width: 350px;
		border: 1px solid $gray-color;
		&__top {
			background: $black-color;
			padding: 20px;
			text-align: center;
			color: #ffffff;
			font-size: 1.1rem;
			font-family: 'Roboto-Medium';
		}
		&__bottom {
			padding: 20px;
		}
		&__row {
			margin-bottom: 20px;
		}
		&__textarea {
				min-height: 110px;
				resize: none;
				overflow: auto;

		}
			&__input::-webkit-input-placeholder {
				color: #a9a9a9;
				 font-family: 'Roboto-Regular';
				font-size: .875rem;
			}
			&__input::-moz-placeholder {
				color: #a9a9a9;
				 font-family: 'Roboto-Regular';
				font-size: .875rem;
			}
			&__input:-ms-input-placeholder {
				color: #a9a9a9;
				 font-family: 'Roboto-Regular';
				font-size: .875rem;
			}
			&__textarea:-ms-input-placeholder {
				color: #a9a9a9;
				 font-family: 'Roboto-Regular';
				font-size: 15px;
			}
			 &__textarea::-moz-placeholder {
				color: #a9a9a9;
				 font-family: 'Roboto-Regular';
				font-size: 15px;
			}
			&__textarea::-webkit-input-placeholder {
				color: #a9a9a9;
				 font-family: 'Roboto-Regular';
				font-size: 15px;
			}
	}
	

	
}

.contact-form__input, .contact-form__textarea {
    width: 100%;
    background: #ffffff;
    border: 1px solid $gray-color;
    outline: none;
    padding: 13px;
    color: #282828;
    font-size: 16px;
}

.contact-form__submit {
    width: 100%;
    max-width: 200px;
    padding: 15px 0;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    margin: 0 auto;
    transition: .3s;
    background: #eeeeee;
    transition: .3s;
    &:hover {
    	background: $orange-color;
    	color: #ffffff;
    }
}

.contact-pop-up {
	position: fixed;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 5;
	padding: 20px 15px;
	background: #282828;
	display: none;
	text-align: center;
	&.active {
		display: block;
	}
}

.contact-pop-up__title {
    color: #ffffff;
}

.btn-top {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #282828;
    position: fixed;
    bottom: 40px;
    right: 15px;
    z-index: 5;
}

.btn-top .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%) ;
    transform: translate(-50%, -50%) ;
    color: #ffffff;
}

@media all and (max-width: 991px) { 
	.about__left, .about__right, .skills__section {
		width: 100%;
		margin-top: 40px;
	}
}

@media all and (max-width: 768px) { 
	
	.skills__section {
		padding: 0;
	}
	.works__info, .works__content {
		width: 100%;
		margin: 40px 15px;
		height: 100%;
	}
	.works__controllers-info {
		height: 100px;
	}
	.works__controllers-list_next .works__controllers-item.active, .works__controllers-list_prev .works__controllers-item.active {
		transition: .1s;
	}
	.contacts__inner {
		padding:  0;
	}

	.contacts__left, .contacts__right {
		width: 100%;
		margin: 40px 0;
	}
	.contact-form {
		margin: 0 auto;
	}
	.contacts__link {
		flex-direction: column;
	}

	.contacts__descr{

		margin: 20px 0 0 0 ;
			
	}
	
	.nav__list {
		transform: translate(-200%, 0);
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 100vh;
		transition: .6s;
		padding: 25px 0 0 15px;
		z-index: 50;
		background: #282828;
		&:active {
			transform: translate(0, 0);
		}
	}

	.nav__burger {
		position: fixed;
		top: 56px;
		right: 30px;
	}

	.nav__item {
		width: 100%;
		text-align: center;
		margin: 10px 0 20px 0;
		align-self: center;
		&:after {
			display: none;
		}
	}

}

@media all and (max-width: 544px) { 
	.about__info-pic {
		padding: 0 0 0 20px;
	}
	// .works__img-item.active:before {
	// 	padding-top: 58%;
	// }
}